header{background:#888888; border-bottom:solid black 6px; font-size:64; 
    text-align:center; padding:20px;}
body {font-family:微軟正黑體; font-weight:600; font-size:24; margin:0; 
    background:#BBFFEE;}
nav {text-align:center; position:fixed; width:17.5%; top:15%; margin:0 1%;}
nav a {background:#888888; display:block; ; color:#FFFFBB; 
    text-decoration:none; font-size:27; line-height:65px; border:solid black 6px;}
nav a:hover	{background-color: white;color: black;}
main	{width:60%; margin: -6px auto;padding:0;background:#FFFFBB;}
footer	{display:inline-block;background:#888888; font-size:28; 
    border-top:solid black 6px;}
h2	{color:#FF3333;font-weight: 900;font-size:52}
h3	{color:#008800;border-bottom:solid #5B5B5B 3px;font-size:32}
.profile{background:#FFFFBB;padding:40px 40px 40px; border:solid black 6px;
    margin:-3px auto;}
.learn,.contact,.why,.experience {display:block;padding:0 20px 40px ; 
    border:solid black 6px;margin:-6px auto;text-align:center;}
.box  {display:inline-block;vertical-align:top;margin:0 20px;padding:0 30px}
.mail,.fb,.ig,.youtube,.shu{width :10%;vertical-align: middle;}
.callme1{display:inline-block;;text-align:start;width:25%;line-height: 80px;padding: 0 0 0 30%;}
.callme2{display:inline-block;;text-align:start;width:25%;line-height: 80px;}
img{display:inline-block}
